:root {
    --primary-color: #ffc001;
    --dark-bg: #101113;
    --card-bg: #1e1f23;
}

/* Latar belakang utama */
#app-container {
    font-family: 'Inter', sans-serif;
    background-color: #1a1a1a00;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url('drone 2.webp');
    background-size: cover;
    background-position: center;
}

/* Kad & Borang */
.booking-form, .dashboard-card {
    max-width: 900px;
    width: 100%;
    margin: auto;
    color: white;
    background-color: #74747459;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.103);
}

/* Navigasi */
.nav-btn {
    padding: 12px 16px;
    font-weight: 600;
    font-size: 1.125rem;
    border-radius: 0.75rem 0.75rem 0 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Tabs */
.tab-content { display: none; }
.tab-content.active { display: block; }

/* Form */
.form-row { display: flex; gap: 20px; flex-wrap: wrap; }
.form-column { flex: 1; min-width: 280px; }
.form-group { margin-bottom: 20px; }
.form-label {
    color: #ccc;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
}
.form-control {
    background-color: #f5f5f5;
    border: none;
    height: 48px;
    padding: 0 15px;
    border-radius: 8px;
    font-weight: 500;
    color: var(--dark-bg);
    width: 100%;
}

/* Butang */
.submit-btn, .action-btn {
    color: var(--dark-bg);
    background-color: var(--primary-color);
    font-weight: 800;
    height: 55px;
    border: none;
    width: 100%;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(255, 192, 1, 0.4);
}
.submit-btn:hover, .action-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 15px rgba(255, 192, 1, 0.6);
}

/* Kad Drone */
.drone-card {
    background-color: var(--dark-bg);
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    border-left: 5px solid var(--primary-color);
}

/* Lencana Status */
.status-badge {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: white;
}
.status-pending { background-color: #f59e0b; }
.status-pulang { background-color: #10b981; }
.status-rosak { background-color: #ef4444; }
.status-kosong { background-color: #4b5563; }

/* Responsif */
@media (max-width: 900px) {
    .form-row { flex-direction: column; }
}
